@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Comfortaa, Inter, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: light;
}

body {
  color: #191c1f;
  background: #fff;
  --color-primary: #fada3f;
  --color-secondary: #ff2136;
  --color-tertiary: #0294fe;
  --color-quaternary: #9b4dff;
  --card-background: #252133;
  --highlighted-background: #202326;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}

h3 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* COUNTDOWN */

.timer-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem; /* Decrease padding for a more compact look */
  border: none;
  border-radius: 5px;
  max-width: 100%;
}

.timer-inner {
  color: #333;
  display: flex;
  border: solid 2px #fff;
  padding: 1rem; /* Decrease padding for a more compact look */
  background-color: rgba(256, 256, 256, 0.6);
  border-radius: 5px;
}

.timer-segment {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.divider,
.time {
  font-size: 4rem; /* Decrease font size for a more compact look */
}

.divider {
  padding: 0 1rem; /* Decrease padding between segments */
}

.label {
  font-size: 1.5rem; /* Decrease font size for a more compact look */
}

/* Media Query for Even Smaller Screens */
@media (max-width: 480px) {
  .divider,
  .time {
    font-size: 3rem; /* Further decrease font size for very small screens */
  }

  .label {
    font-size: 1.2rem; /* Further decrease font size for very small screens */
  }
}

.react-datepicker__input-container,
.react-datepicker-wrapper {
  outline: none !important;
  border: none !important;
}

/* custom-date-picker.css */
.react-date-picker__wrapper {
  border: none !important;
}

.react-date-picker__inputGroup__input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.react-date-picker__inputGroup__input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.modal-content {
  animation: scaleAnimation ease-in 0.3s;
}

.overlay {
  animation: scaleAnimation ease-in 0.3s;
  backdrop-filter: blur(5px); /* Adjust the blur radius */
  -webkit-backdrop-filter: blur(5px);
}

@keyframes scaleAnimation {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.yacht-page-header {
  background-image: url("/images/banner/club-banner.jpg");
  background-size: cover;
}

/* p {
  margin-bottom: 0 !important;
} */

/* src/components/styles.css */

.Label {
  font-size: 14px;
  color: #000;
}

.SwitchRoot {
  width: 42px;
  height: 25px;
  background-color: #ccc;
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s ease;
}

.SwitchRoot[data-state="checked"] {
  background-color: #0294fe;
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  transform: translateX(2px);
}

.SwitchRoot[data-state="checked"] .SwitchThumb {
  transform: translateX(19px);
}

/* src/components/SliderComponent/styles.css */
.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
}

.SliderTrack {
  background-color: black;
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 8px;
}

.SliderRange {
  background-color: grey;
  position: absolute;
  height: 100%;
  border-radius: 9999px;
  transition: all 0.3s ease-in-out;
  cursor: grab;
}

.SliderThumb {
  display: block;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: grab;
}

.SliderThumb:hover {
  transform: scale(1.1);
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your images here */
.my-masonry-grid img {
  margin-bottom: 30px;
  width: 100%;
  display: block;
  border-radius: 8px;
}

/* styles.css */
// pagination styling
.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}

.page-item {
  display: inline;
  margin: 0 5px;
}

.page-link {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.page-link:hover {
  color: #0056b3;
}

.active .page-link {
  color: white;
  background-color: #007bff;
  border-radius: 50%;
}

.box-shadow {
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
}

// .css-t3ipsp-control {
//   &:active,
//   &:focus,
//   &:hover,
//   &:focus-visible,
//   &:focus-within {
//     // border: 0 !important;
//     // hsl(0, 0%, 80%)
//     border-color: hsl(0, 0%, 80%) !important;
//     box-shadow: none;
//   }
// }

// .css-13cymwt-control {
//   cursor: pointer !important;

//   & > * {
//     cursor: pointer !important;
//   }
// }

.css-1dyz3mf {
  & * {
    outline: none !important;
    border: none !important;
  }
}

.css-1lc3dfz {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  & * {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }
  & > * {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }
  & > input {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }
  & input {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }
}
